input {
    border: solid 1p black;
    
  }
header {
    background-image: url(bg.jpg);
    background-size:cover;
    padding: 4rem;
}

body {
  background-color:  rgb(76, 126, 76);
}

#header1 {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 0,01em;
    color: coral;
  }
#header2 {
   display: flex;
   justify-content: center;
   margin: 0,1em;
   color: black;
 }
#attempts_number {
  display: flex;
  font-size: 50px;
  font-weight: bold;
  justify-content: center;
  color: black;  
} 

#score {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 0,1em;
  color: coral; 
 }

.hidden {
    color: black;
    margin: 0,1em;
    display: flex;
    justify-content: center;
  }
  #btn-start {
    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    color: coral;
    font-weight: bold;
    background-color: rgb(34, 34, 99);
    border-color: black;
    margin: 1em;  
  }
   
  .btn-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 1em;
    
 } 
.alphabet {
    height: 2rem;
    width: 5rem;
    color:black;  /*#fff*/
    background-color:coral;
    border-color: black;
    margin-bottom: 1px;
} 
.letters {
  margin: 1%;
  border: 3px black solid;
  padding: 10px;
}

button:disabled {
  background-color: grey;
}