input {
    border: solid 1p black;
    
  }
header {
    background-image: url(znaki2.jfif);
    background-size:cover;
    padding: 2rem;


  /*background-color: blanchedalmond;
  /*background: url("background.jpg") no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, sans-serif */
}

body {
  background-color:  rgb(74, 74, 214);
}
/*#picture {
    width: 30%; 
    height: 30%; 
    position: fixed; 
    left: 20px; 
    top: 20px; 
    z-index: 0;
}*/
.stretch {
    width:75%;
    height:75%;
}  
#header1 {
    display: flex;
    justify-content: center;
    margin: 1em;
    color: black;
  }
#header2 {
   display: flex;
   justify-content: center;
   margin: 1em;
   color: red;
 }
#attempts_number {
  display: flex;
  font-size: 70px;
  font-weight: bold;
  justify-content: center;
  color:red;  
} 

#score {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 1em;
  color: orange; 
}

.hidden {
   /* background-color: coral;*/
    color: black;
    

    margin: 1em;
    display: flex;
    justify-content: center;
  }
  #btn-start {
    height: 3rem;
    width: 10rem;
   
    
   
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin: 1em;  
  }
   
  .btn-div {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    
 } 
.alphabet {
    color:black;  /*#fff*/
    background-color:coral;
    border-color: #4cae4c;
    margin-bottom: 1px;
} 
.letters {
  margin: 1%;
  border: 1px black solid;
  padding: 4px;
}

button:disabled {
  background-color:#4cae4c;
}